@charset 'UTF-8';

:root{
    --cor-principal: #4741F0 ;
    --cor-secundaria: #a0e6ec;
    --cor-background: #91ACF0;
    --cor-complementar: #b2cddf; 
    --cor-marcante: #8041F0;
    --cor-alternativa: rgb(100, 173, 185);

}
body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-background);
    position: relative;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
}

h1{
    color: var(--cor-principal);
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
}

p{
    color: var(--cor-principal);
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
    
}

main section{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 300px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: width 0.4s, height 0.4s;

}

#imagem{
    background: rgb(37, 112, 134) url(/imagens/imagem-pattern.jpg) no-repeat center center;
    height: 150px;
    background-size: cover;
    display: block;
}

#login{
    box-sizing: border-box;
    padding:20px;
    text-align: center;
    display: block;
    height: 100%;
}

div.campo{
    height: 40px;
    background-color: var(--cor-background);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: space-around;
    
    
}

div.campo label{
    display: none;
}

div.campo i{
    background-color: var(--cor-alternativa);
    color: white;
    font-size: 2em;
    width: 40px;
    border-radius: 5px;
    padding: 2px;
    margin-left: 3px;
    width: 40%;
    height: 100%;
    
}

div.campo input{
    background-color: var(--cor-complementar);
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 60%;
    margin: 0 3px

    
    
    
}

/*  Botoes */
form input[type=submit] {
    display: block;
    font-size: 1.5em;
    width:100%;
    height: 40px;
    background-color: var(--cor-complementar);
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form input[type=submit]:hover{
    background-color: var(--cor-marcante);
    color: #FFFFFF;
    transition: 0.2s;
}

form a.botao{
    display: block;
    border: 1px solid var(--cor-principal);
    height: 40px;
    margin-top: 10px;
    background-color: var(--cor-principal);
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    font-size: 1.3em;
}

form a.botao:hover{
    background-color: var(--cor-secundaria);
    color: black;
    transition: 0.2s;
}
